h1 {
  font-size: 52px;
}
h2 {
  font-size: 32px;
}
.header {
  background: rgba(250, 248, 248, 0.8);
  text-align: center;
  margin: 50px 50px;
  padding: 15px;
  border-radius: 10px;
}
div {
  width: 50%;
  margin: 0 auto;
}
.them {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  display: block;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
.Come {
  width: 500px;
  border-radius: 20px;
}
img {
  width: 300px;
  border-radius: 5px;
}
p {
  text-align: start;
}
ul {
  text-align: start;
  text-decoration: solid;
}
li {
  font-family: "BhuTuka Expanded One", serif;
  font-weight: 400;
  font-style: normal;
}
button {
  text-align: center;
  text-transform: uppercase;
  padding: 20px 50px;
  color: hsl(4, 100%, 74%);
  margin: 50px auto 0 auto;
  display: block;
  font-size: 16px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  width: 150px;
  border: 10% solid #122d42;
  border-radius: 40px;
  transition: all ease-in-out;
}

button:hover {
  background: #bee4d2;
  color: #272044;
  cursor: pointer;
}
.container {
  display: grid;
  place-items: center;
  height: 100vh;
}
